@import '../scss/config';
@import '../scss/senso-config';

.labeledButton {
    padding: 0.5rem;
    display: flex;
    align-items: center;
    flex-direction: column;

    &__button {
        @extend %senso-control-apperance;
        border-radius: 100%;
        border: none;
        transition: opacity 360ms ease;
        opacity: 0.7;
        width: 2rem;
        height: 2rem;
        display: block;

        &.listen {
            background-color: $c-ok;
        }

        &.play {
            background-color: $c-error;
        }

        &:hover {
            opacity: 0.8;
        }

        &.isActive {
            opacity: 0.9;
        }

        &.isWaiting {
            animation: {
                name: waiting-pulse;
                duration: 1000ms;
                iteration-count: infinite;
                timing-function: linear;
            }
        }

        &:disabled {
            opacity: 0.4;
        }

        &::selection {
            background-color: transparent;
        }
    }

    &__label {
        font-size: 0.6rem;
        text-align: center;
        padding-top: 0.4rem;

        //@include bp(desktop) {
        //    display: block;
        //    position: relative;
        //    top: -100%;
        //
        //}
    }
}

@keyframes waiting-pulse {
    0% {
        transform: scale(1);
    }
    40% {
        transform: scale(0.8);
    }
    80% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
