@import '../scss/config';
@import '../scss/senso-config';

.sensoControls {
    &__info {
        min-height: 3.75rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.8rem;
        flex: 1 0 100%;
        margin-top: 2rem;
        width: 100%;

        &::selection {
            background-color: transparent;
        }
    }

    &__controls {
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;
        align-items: flex-end;

        @include bp(tablet) {
            min-width: 360px;
        }
    }
}
