@import '../scss/config';
@import '../scss/senso-config';

// TODO apply structure to component/scss files
.senso {
    padding: 1rem;

    @include bp(desktop) {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    // tracks and highscores
    &__aside {
        flex: 1 0 auto;

        @include bp(tablet) {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row-reverse;
            width: 100%;
        }
        @include bp(desktop) {
            display: flex;
            flex-direction: column;
            flex: 1 0 30vw;
        }
    }

    &__game {
        @include bp(tablet) {
            align-items: center;
            display: flex;
            flex-direction: column;
            margin: auto;
        }

        @include bp(desktop) {
            flex: 1 0 30vw;
            max-width: none;
            margin: 0;
            align-items: flex-start;
        }
    }

    &__footer {
        display: flex;
        flex-basis: 100%;
        align-items: center;
        justify-content: flex-end;
        font-size: 0.8rem;
        color: $text-secondary;
        padding: 0 1rem;

        &__logo {
            width: 1.5rem;
            height: 1.5rem;
        }

        &__copy {
            margin-right: 1rem;
        }
    }
}
