@import '../scss/config';
@import '../scss/senso-config';

.sensoGoal {
    align-items: center;
    border-radius: 100%;
    box-shadow: 0 0 2rem black;
    display: flex;
    flex-direction: column;
    height: 400px;
    justify-content: center;
    pointer-events: none;
    transition: transform 1000ms ease;
    width: 400px;
    z-index: 100;

    *::selection {
        background-color: transparent;
    }

    &.win {
        background-color: $senso-win-base;
    }

    &.fail {
        background-color: $senso-fail-base;
    }

    &__modal {
        transition: opacity 1000ms ease;

        &.dissolve {
            opacity: 0;

            & > .sensoGoal {
                transform: scale(0);
            }
        }
    }

    &__value {
        font-size: 5rem;
        color: $senso-win-highlight;
        text-shadow: 0 2px 1px $senso-device-base;
        font-weight: 900;
        margin-top: -0.3em;
        animation: {
            duration: 600ms;
            name: score-dance;
            iteration-count: infinite;
            direction: alternate;
        }
    }

    &__type {
        font-size: 3rem;
        font-weight: 500;
    }

    &__message {
        font-size: 1.15rem;
        font-weight: 600;
    }
}

@keyframes score-dance {
    from {
        transform: rotate(-5deg) scale(1);
    }
    to {
        transform: rotate(7deg) scale(1.3);
    }
}
