@import '../scss/config';
@import '../scss/senso-config';

.sensoDevice {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    @include bp(tablet) {
        max-width: 70vw;
        margin: 0 auto;
    }

    @include bp(desktop) {
        flex: 1 0 60vh;
        margin: 0 4rem 0 0;
        position: sticky;
        top: 4rem;
    }

    @include bp(wide) {
        // view height to determine width might be the flipping trick
        flex: 1 0 60vh;
    }

    &__controls {
        position: absolute;
        display: flex;
        align-items: center;

        @include bp(desktop) {
            .play,
            .listen {
                width: 3rem;
                height: 3rem;
            }
        }
    }

    &__button {
        opacity: 0.3;
        box-shadow: $senso-control-shadow, 0 0 0 4px rgba(black, 0.4);

        &:hover {
            opacity: 0.5;
        }

        &.isActive {
            opacity: 0.65;
        }

        &.preparing {
            background-color: $c-warning;
        }
    }
}
