@import '../scss/config';
@import '../scss/senso-config';

.sensoSvg {
    width: 100%;
    height: auto;
    filter: drop-shadow(0 0 1rem rgba(black, 0.3));

    &__base {
        fill: $senso-device-base;
        stroke: rgba(black, 0.3);
        stroke-width: 6px;
        stroke-linejoin: round;
    }

    &__pad {
        fill: currentColor;
        fill-opacity: 0.4;
        stroke-linejoin: round;
        stroke-width: 10px;
        stroke: rgba(black, 0.3);

        &.red {
            color: red;
        }
        &.green {
            color: green;
        }
        &.blue {
            color: blue;
        }
        &.yellow {
            color: yellow;
        }
    }
}
