@import '../scss/config';
@import '../scss/senso-config';

.highScores {
    @include bp(tablet) {
        flex: 50%;
    }

    &__list {
        list-style: none;
        margin: 1rem -1rem !important;
        padding: 0;

        @include bp(tablet) {
            margin: 0 !important;
        }
    }

    &__item {
        padding: 0.25rem 1rem;
        font-size: 0.75rem;
        display: flex;
        width: 100%;
        align-items: center;

        &:nth-child(1) {
            background-color: rgba($c-ok, 0.1);
        }

        &:nth-child(2) {
            background-color: rgba($c-warning, 0.1);
        }

        &:nth-child(3) {
            background-color: rgba($c-error, 0.1);
        }
    }

    &__score {
        font-weight: 800;
        font-size: 0.85rem;
    }

    &__meta {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        align-items: flex-end;

        &__user {
            padding: 0 0.1rem;
        }
        &__date {
            color: $text-secondary;
        }
    }
}
