@import '../scss/config';
@import '../scss/senso-config';

.sensoTrackItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex: 1 0 auto;

    &__label {
        font-size: 1rem;
    }

    &__rating {
        min-width: 5 * 0.8rem;
        margin-left: 1rem;

        svg {
            width: 0.8rem;
            height: 0.8rem;
            fill: currentColor;
        }

        .isOn {
            fill: $text-primary;
        }

        .isOff {
            fill: darken($senso-device-base, 5);
        }
    }

    &__score {
        font-size: 0.7rem;
        width: 100%;
        display: flex;
        align-items: center;
        margin-top: 0.25rem;
        justify-content: space-between;
        min-height: 1.5rem;
    }

    &__upload-score {
        display: flex;
        height: 24px;
        width: 24px;
        color: $senso-api-base;
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding: 0;
        min-height: auto;

        svg {
            margin: 0;
        }

        &:focus {
            outline: none;
        }
    }
}
