@import '../scss/config';
@import '../scss/senso-config';

.sensoTracks {
    flex: 1 0 auto;

    @include bp(tablet) {
        flex: 50%;
    }

    &__list {
        list-style: none;
        margin: 1rem -1rem 0 !important; // todo find a way to handle the css resets way in styling lists ([class] selector)
        padding: 0;

        @include bp(tablet) {
            margin: 0 !important;
        }
    }

    &__item {
        cursor: pointer;
        padding: 1rem 1rem;
        transition: $transition--button-bg;

        &:hover {
            background-color: $bg--hover;
        }

        &.isSelected {
            background-color: $bg--selected;
        }
    }
}
