@import '../scss/config';
@import '../scss/senso-config';

.slider {
    padding: 0.5rem;

    &__label {
        font-size: 0.6rem;
        padding-top: 0.4rem;
        display: flex;
        justify-content: space-between;

        &__item {
            display: flex;
            justify-content: center;
        }
    }

    &__track {
        background-color: $senso-device-base;
        box-shadow: 1px 2px 0.25rem rgba(black, 0.6) inset,
            -3px -3px 0.45rem rgba(black, 0.1) inset;
        margin: 0.25rem 0;
        width: $senso-control-size * 3;
        display: flex;
        align-items: center;
    }

    &__handle {
        @extend %senso-control-apperance;
        height: 1.5rem;
        width: $senso-control-size;
    }
}
