@import '../scss/config';
@import '../scss/senso-config';

.user {
    transition: background-color 100ms ease-out;

    &.isOpen {
        transition: background-color 140ms ease-in;
        background-color: $bg--selected;
    }

    &__widget {
        display: flex;
        align-items: center;
        min-height: 3rem;
        flex-direction: row-reverse;
        font-size: 0.8rem;
        transition: background-color 240ms ease-in;
        padding: 0 2rem;
    }

    &__button {
        margin-left: 2rem;

        svg {
            width: 2rem;
        }
    }

    &__input {
        text-align: right;
    }

    &__label {
        opacity: 0.8;
    }

    &__settings {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: 0 6.5rem;
        height: 0;
        transition: height 280ms ease-in, opacity 280ms ease-in;
        overflow: hidden;
        opacity: 0;

        &.isOpen {
            height: 6rem;
            opacity: 1;
            transition: height 560ms ease-out, opacity 220ms ease-in;
        }

        &.isReady {
        }

        > * {
            margin-top: 1rem;
        }
    }
}
