.modal {
    align-items: center;
    background-color: rgba(black, 0.22);
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    transition: opacity 1000ms ease, transform 1000ms ease;
    z-index: 1000;
}
