@import '../../scss/config';
@import '../../scss/senso-config';

.verticalLoader {
    height: 2px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        //background-color: rgba($senso-api-base, .2);
        background-image: linear-gradient(
            -90deg,
            $senso-api-base 5%,
            rgba($senso-api-base, 0)
        );

        animation: {
            name: vertical-grow;
            duration: 2400ms;
            timing-function: linear;
            iteration-count: infinite;
            play-state: running;
        }
    }
}

@keyframes vertical-grow {
    0% {
        right: 10%;
        left: 0;
        //opacity: 0;
    }
    50% {
        right: 0;
        left: 100%;
        //opacity: 1;
    }
    100% {
        right: 10%;
        left: 0;
        //opacity: 1;
    }
}
