@import "../node_modules/modern-css-reset";
@import "scss/config";

// common
@import "scss/button";

body {
  background: $c-bg;
  color: $text-primary;
  font-family: "Spartan", sans-serif;
  font-weight: 500;
  max-width: 1920px;
}

h3 {
  margin-top: 3rem;
  margin-bottom: 2rem;
}

input {
  border: $border--default;
  border-width: 0 0 2px 0;
  background-color: transparent;
  color: $text-primary;
  font-size: inherit;
  padding: 0 0 4px;
  margin: 0 0 -6px;

  &:focus {
    outline: none;
    border-bottom-color: $c-active;
  }
}
