%buttonhover {
    cursor: pointer;
    transition: background-color 0.24s ease;

    &:hover {
        //background-color: rgba(0, 0, 0, 0.03);
    }

    &.is-active,
    &.isActive {
        background-color: rgba($c-active, 0.24);
    }

    &.isSelected {
        background-color: rgba(0, 0, 0, 0.06);
    }

    &:focus,
    &:active {
        outline: none;
    }
}

%buttonappearance {
    background-color: transparent;
    border: $border--default;
    color: $text-primary;
    font-size: 0.8rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-height: 2rem;
    border-radius: 2px;
    padding: 0.25rem 0.5rem;

    &:disabled {
        opacity: 0.7;
        pointer-events: none;
        border-color: transparent;
        background: transparent !important;
    }

    &.ok {
        background-color: rgba($c-ok, 0.16);
    }

    &.warning {
        background-color: rgba($c-warning, 0.25);
    }

    &.error {
        background-color: rgba($c-error, 0.25);
    }

    &.secondary {
        border-color: rgba(0, 0, 0, 0.1);
    }

    & svg {
        height: 1rem;
        fill: currentColor;
        margin-right: 0.5rem;

        &.end {
            margin-right: 0;
            margin-left: 0.5rem;
        }
    }
}

button,
.button {
    @extend %buttonhover;
    @extend %buttonappearance;

    &--small {
        font-size: 0.85rem;
        min-height: 1.5rem;
    }

    &--icon {
        padding: 0.25rem;

        & svg {
            fill: currentColor;
            margin: 0;
        }
    }
}
