$spacingBase: 1;

$menu-width: 280px;

$mq-breakpoints: (
    mobile: 320px,
    mobileLarge: 480px,
    tablet: 660px,
    desktop: 980px,
    wide: 1300px,
);

$c-bg: #323232;

$c-active: rgb(165, 226, 241);
//$c-selected: rgb();
$c-ok: rgb(133, 227, 0);
$c-warning: rgb(255, 196, 0);
$c-error: rgb(255, 17, 0);

$text-primary: rgb(222, 220, 220);
$text-secondary: rgba($text-primary, 0.7);
$text-link: rgb(40, 70, 129);
$text-hover: rgba(0, 0, 0, 0.07);

$bg--note: rgba(183, 216, 239, 0.27);

$bg--hover: rgba(0, 0, 0, 0.1);
$bg--selected: rgba(0, 0, 0, 0.2);
$bg--active: rgba(255, 255, 255, 0.2);

$border--default: solid 1px lighten($text-primary, 10); // do not use percentage
$border--secondary: solid 1px lighten($text-secondary, 10); // do not use percentage

$transition--button-bg: background-color 360ms ease-in;

@mixin bp($bp) {
    @media screen and (min-width: #{map_get($mq-breakpoints, $bp)}) {
        @content;
    }
}

@function c-text($color) {
    @return desaturate(darken($color, 60), 60);
}
