$senso-device-base: #262626;
$senso-control-base: #284ca0;
$senso-win-base: #6acd00;
$senso-win-highlight: #ffdd00;
$senso-fail-base: #ff3c00;

$senso-api-base: lighten($c-warning, 15);

$senso-control-size: 50px;
$senso-control-shadow: 1px 2px 0.25rem rgba(black, 0.6),
    -3px -3px 0.45rem rgba(black, 0.1), 0 0 0 2px rgba(black, 0.2) inset;

%senso-control-apperance {
    background-color: $senso-control-base;
    box-shadow: $senso-control-shadow;
}
